form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}

form > input {
  width: 15%;
  margin-right: 30px;
  padding: 10px 15px;
  font-size: 20px;
}

.btn {
  display: block;
  font-size: 20px;
  padding: 10px 25px;
  cursor: pointer;
  color: #fff;
  background-color: blue;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;

  &:disabled {
    background-color: rgba(204, 204, 204, 0.6);
    color: rgba(0, 0, 0, 0.3);
    cursor: inherit;
  }

  &-load {
    margin: 0 auto;
  }

  &.is-hidden {
    display: none;
  }

  & > .spinner.is-hidden {
    display: none;
  }
}

.button.is-hidden {
  display: none;
}

.button > .spinner.is-hidden {
  display: none;
}

.mb-2 {
  margin-bottom: 0 !important;
}
